<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesteNucleo.My.MySettings.TESTE_NETConnectionString"
            connectionString="Data Source=.;Initial Catalog=TESTE_NET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TesteNucleo.My.MySettings.XYZConnectionString" connectionString="Data Source=.;Initial Catalog=XYZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>